body{
  background-color: rgba(2, 2, 2, 0.96);
  color: white;
}
#img-src{
  width: 200px;
  margin: 50px;
}
.parg{
  font-size: 50px;
  text-align: center;
  font-family: monoco;
  color: rgb(148, 148, 148);
}
.content{
  margin: 100px;
}
#img-src1{
  width: 900px;
  height: 400px;
  padding: 80px;
}
#img-src2{
  width: 900px;
  height: 400px;
  padding: 80px;
}
li{
  font-size: 50px;
  margin: 50px;
}
#link{
    text-decoration:none;
    font-size: 60px;
    margin :80px;
}
